h1{
    font-family: "roboto", arial, sans-serif;
    font-size: 30px;
    font-style: oblique;
    text-decoration: underline; 
    
}    

.header{
    background-position: center;
    text-align: center;
    background-color: lightgray;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

img{
    border-radius: 50%;
}

h2{
    text-decoration: underline;
    margin-left: 30px; 
}

p{
    margin-left: 20px;
}

body{
    background: url("https://images.alphacoders.com/605/thumb-1920-605743.jpg");
}

.button{
    display: inline-block;
    padding: 12px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(108, 201, 193);
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
     position: absolute;
    bottom: 20px;
    right: 20px;
}

.contenedor{
    position: relative;
}

